.block-wedo {
    background: $color_gray;
}

.full-width-img {
    width: 100%;
    height: auto;
    display: block;
}

.block-bizprocess {
    background: $color_gray;
}

.block-sellfranchise {
    background: $color_gray;
}

.block-digitalmark {
    background: $color_gray;
}
