.block-wedo {
    background: $color_gray;
    color: $color_white;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 35px;
}

.full-width-img {
    width: 100%;
    height: auto;
    display: block;
}

.block-bizprocess {
    background: $color_gray;
    &__name-item {
        font-size: 150px;
        font-weight: bold;
        color: rgba(255,255,255,.15);
        position: absolute;
        top: 100px;
        line-height: 115px;
        @media (max-width: 1400px) {
            font-size: 100px;
            line-height: 70px;
        }
    }
    &__text-item {
        font-size: 20px;
        font-weight: 100;
        color: $color_white;
        line-height: 30px;
        max-width: 550px;
        position: absolute;
        opacity: .8;
        top: 400px;
        @media (min-width: 2000px) {
            margin-top: 40px;
        }
        @media (max-width: 1400px) {
            top: 300px;
        }
    }
}

.block-sellfranchise {
    background: $color_gray;
    &__name-item {
        font-size: 150px;
        font-weight: bold;
        color: rgba(255,255,255,.15);
        position: absolute;
        top: 50px;
        line-height: 115px;
        text-align: right;
        right: 0;
        @media (max-width: 1400px) {
            font-size: 100px;
            line-height: 70px;
        }
    }
    &__text-item {
        font-size: 20px;
        font-weight: 100;
        color: $color_white;
        line-height: 30px;
        max-width: 550px;
        position: absolute;
        opacity: .8;
        top: 400px;
        text-align: right;
        right: 0;
        @media (min-width: 2000px) {
            margin-top: 40px;
        }
        @media (max-width: 1400px) {
            top: 300px;
        }
    }
}

.block-digitalmark {
    background: $color_gray;
    &__name-item {
        font-size: 150px;
        font-weight: bold;
        color: rgba(255,255,255,.15);
        position: absolute;
        top: 100px;
        line-height: 115px;
        @media (max-width: 1400px) {
            font-size: 100px;
            line-height: 70px;
        }
    }
    &__text-item {
        font-size: 20px;
        font-weight: 100;
        color: $color_white;
        line-height: 30px;
        max-width: 550px;
        position: absolute;
        opacity: .8;
        top: 400px;
        @media (min-width: 2000px) {
            margin-top: 40px;
        }
        @media (max-width: 1400px) {
            top: 300px;
        }
    }
}


.block-wecan {
    background: $color_white;
    &-text {
        width: 100%;
        height: 400px;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
        color: $color_red;
        .sub-title {
            max-width: 70%;
        }
    }
    &-photo {
        height: 400px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        &-1 {
            background-image: url(/assets/images/wecan-photo-1.jpg);
        }
        &-2 {
            background-image: url(/assets/images/wecan-photo-2.jpg);
        }
        &-3 {
            background-image: url(/assets/images/wecan-photo-3.jpg);
        }
    }
    &-middle {
        display: flex;
        flex-direction: column-reverse;
    }
    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

.block-about {
    padding-top: 75px;
    padding-bottom: 75px;
    background: $color_black;
    color: $color_white;
    .title {
        margin-left: 0;
        margin-right: 0;
    }
    .sub-title {
        padding-right: 150px;
    }
}

.block-media {
    padding-top: 75px;
    padding-bottom: 75px;
    background: $color_white;
    color: $color_red;
    .title {
        margin-left: 0;
        margin-right: 0;
    }
    .sub-title {
        padding-right: 150px;
    }
    .col-4 {
        padding-top: 20px;
        padding-bottom: 20px;
        img {
            max-width: 85%;
            max-height: 36px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.block-reputation {
    height: 945px;
    overflow: hidden;
}

.brand-photo {
    position: absolute;
    left: 50%;
    &-wrap {
        width: 1920px;
        position: relative;
        left: -960px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: auto;
        @media (min-width: 2000px) {
            width: 2560px;
            left: -1280px;
        }
    }
    &-item {
        width: 374px;
        height: 305px;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: auto;
        box-sizing: border-box;
        background-size: cover;
        background-position: center center;
        &_b {
            width: 425px;
            @media (min-width: 2000px) {
                width: 525px;
            }
        }
        &_s {
            width: 300px;
            @media (min-width: 2000px) {
                width: 470px;
            }
        }
        &__bg {
            display: flex;
            width: inherit;
            height: inherit;
            position: absolute;
            background: rgba(255,255,255,0.5);
            align-items: center;
            justify-content: center;
            transition: .3s;
            img {
                max-width: 80%;
                height: auto;
                display: block;
            }
        }
        &:hover {
            .brand-photo-item__bg {
                opacity: 0;
            }
        }
    }
    &__1 {
        background-image: url(/assets/images/brand-photo/photo__1.jpg);
    }
    &__2 {
        background-image: url(/assets/images/brand-photo/photo__2.jpg);
    }
    &__3 {
        background-image: url(/assets/images/brand-photo/photo__3.jpg);
    }
    &__4 {
        background-image: url(/assets/images/brand-photo/photo__4.jpg);
    }
    &__5 {
        background-image: url(/assets/images/brand-photo/photo__5.jpg);
    }
    &__6 {
        background-image: url(/assets/images/brand-photo/photo__6.jpg);
    }
    &__7 {
        background-image: url(/assets/images/brand-photo/photo__7.jpg);
    }
    &__8 {
        background-image: url(/assets/images/brand-photo/photo__8.jpg);
    }
    &__9 {
        background: $color_red;
        color: $color_white;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__10 {
        background-image: url(/assets/images/brand-photo/photo__10.jpg);
    }
    &__11 {
        background-image: url(/assets/images/brand-photo/photo__11.jpg);
    }
    &__12 {
        background-image: url(/assets/images/brand-photo/photo__12.jpg);
    }
    &__13 {
        background-image: url(/assets/images/brand-photo/photo__13.jpg);
    }
    &__14 {
        background-image: url(/assets/images/brand-photo/photo__14.jpg);
    }
    &__15 {
        background-image: url(/assets/images/brand-photo/photo__15.jpg);
    }
}


.block-history {
    color: $color_red;
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        margin-left: 0;
        margin-right: 0;
    }
    .sub-title {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 80px;
    }
    &__list + &__list {
        margin-top: 100px;
    }
    &__list {
        text-align: right;
    }
    &__num {
        font-size: 130px;
    }
    &__desc {
        font-size: 25px;
    }
    .flex {
        .col-2:first-child {
            padding-right: 120px;
        }
        .col-2:last-child {
            padding-left: 120px;
            border-left: 1px solid $color_red;
        }
    }
    &__list2 {
        padding-top: 85px;
        padding-bottom: 85px;
        &:last-child {
            .block-history__year {
                color: $color_red;
            }
        }
    }
    &__year {
        font-size: 30px;
        color: #9d5358;
        margin-bottom: 10px;
        &:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 1px;
            background: $color_gray;
            margin-left: -85px;
            margin-top: 35px;
        }
        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: $color_white;
            margin-left: -200px;
            margin-top: 20px;
        }
    }
    &__event {
        font-size: 30px;
    }
}


.block-history-2 {
    text-align: center;
    background: $color_red;
    color: $color_white;
    padding-top: 70px;
    .sub-title {
        margin-bottom: 70px;
    }
    &__gallery {
        width: 100%;
        height: auto;
        display: block;
        border: none;
    }
}


.block-step {
    background: $color_gray;
    color: $color_white;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    .title {
        padding: 15px 0;
        text-align: center;
        z-index: 2;
        position: relative;
    }
    &__number {
        font-size: 350px;
        position: absolute;
        z-index: 1;
    }
    &__name {
        font-size: 80px;
        line-height: 60px;
        margin-bottom: 60px;
        font-weight: bold;
        position: relative;
        z-index: 2;
    }
    &__text {
        font-size: 20px;
        line-height: 20px;
        font-weight: 100;
        max-width: 420px;
        position: relative;
        z-index: 3;
    }
    &__photo {
        display: block;
        box-shadow: 0 0 130px #000;
        max-width: 100%;
        height: auto;
    }
    &-1 {
        .block-step__number {
            color: #1e1d1d;
            left: 155px;
            top: -35px;
        }
        .col-2:first-child {
            padding-left: 225px;
        }
        &-svg {
            width: 100%;
            position: absolute;
            margin-top: -215px;
            @media (max-width: 1400px) {
                width: 120%;
            }
        }
    }
    &-2 {
        .flex-align-mid {
            flex-direction: row-reverse;
        }
        .block-step__number {
            color: #626160;
            margin-left: -285px;
            top: -50px;
        }
        .block-step__name {
            margin-left: -160px;
            margin-top: -240px;
        }
        .block-step__text {
            margin-left: -160px;
            margin-top: 0px;
        }
    }
    &-3 {
        padding-top: 30px;
        .flex {
            .col-2:first-child {
                text-align: right;
            }
        }
        .block-step__number {
            color: #503a3c;
            right: 43%;
            top: 0;
        }
        .block-step__name {
            margin-right: 20px;
            margin-top: -120px;
        }
        .block-step__text {
            margin-right: 20px;
            margin-top: 0;
            float: right;
        }
        .block-step__photo {
            margin-left: 15px;
        }
        &-svg {
            width: 100%;
            position: absolute;
            margin-top: 325px;
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            transform: scale(-1, 1);
            filter: FlipH;
            -ms-filter: "FlipH";
            @media (max-width: 1400px) {
                width: 120%;
            }
        }
    }
    &-4 {
        .flex-align-mid {
            flex-direction: row-reverse;
        }
        .flex {
            .col-2:first-child {
                padding-left: 120px;
            }
        }
        .block-step__number {
            color: #333232;
            top: 5px;
            margin-left: -110px;
        }
    }
    &-5 {
        padding-top: 30px;
        .flex {
            position: relative;
            z-index: 2;
            .col-2:first-child {
                text-align: right;
            }
        }
        .block-step__number {
            color: #62615d;
            right: 43%;
            top: 0;
        }
        .block-step__name {
            margin-right: 20px;
            margin-top: -120px;
        }
        .block-step__text {
            margin-right: 20px;
            margin-top: 0;
            float: right;
        }
        .block-step__photo {
            margin-left: 15px;
        }
    }
    &-6 {
        padding-top: 30px;
        .flex {
            .col-2:first-child {
                padding-left: 160px;
            }
        }
        .block-step__number {
            color: #503a3d;
            top: -45px;
            margin-left: -195px;
        }
        .block-step__photo {
            margin-left: -180px;
            box-shadow: none;
            @media (max-width: 1400px) {
                margin-left: 0;
            }
        }
        &-svg {
            width: 100%;
            position: absolute;
            margin-top: -120px;
            @media (max-width: 1400px) {
                width: 120%;
                margin-top: -185px;
            }
        }
    }
}


.block-map {
    background: #1c1415;
    background: -moz-linear-gradient(top, #1c1415 0%, #0c0c0c 100%);
    background: -webkit-linear-gradient(top, #1c1415 0%,#0c0c0c 100%);
    background: linear-gradient(to bottom, #1c1415 0%,#0c0c0c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1415', endColorstr='#0c0c0c',GradientType=0 );
    text-align: center;
    color: $color_white;
    padding-top: 220px;
    padding-bottom: 20px;
    .interactive-map {
        margin-top: 55px;
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}

.block-feedback-header {
    background: #0b0b0b;
    color: $color_white;
    text-align: center;
    padding-top: 35px;
}

.block-feedback {
    background: #0b0b0b;
    background-image: url(/assets/images/feedback-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 774px;
    @media (max-width: 1400px) {
        height: 600px;
    }
    &__form {
        width: 345px;
        position: absolute;
        right: 0;
        padding-top: 210px;
        input {
            padding: 20px;
            display: block;
            width: 100%;
            margin-bottom: 20px;
            box-sizing: border-box;
            font-size: 18px;
            background: #0b0b0b;
            color: $color_white;
            font-weight: 100;
            border: 1px solid rgba(255,255,255,0.7);
        }
        textarea {
            padding: 20px;
            display: block;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            font-size: 18px;
            margin-bottom: 20px;
            background: #0b0b0b;
            color: $color_white;
            font-weight: 100;
            border: 1px solid rgba(255,255,255,0.7);
        }
        button {
            background: rgba(255,255,255,0.7);
            color: $color_black;
            padding: 15px 35px;
            cursor: pointer;
            border: none;
            transition: .3s;
            &:hover {
                background: $color_white;
            }
        }
    }
}
