.footer {
    background: $color_black;
    color: $color_white;
    padding-top: 25px;
    padding-bottom: 50px;
    .block-nav {
        background: $color_transp;
        @media (max-width: 1000px) {
            position: relative;
            .logo {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
                height: 25px;
            }
        }
        .flex-align-mid {
            border-bottom: 1px solid $color_white;
        }
        li:first-child {
            padding-left: 0;
        }
    }
}
.block-copyright {
    padding-top: 40px;
    &__text {
        font-size: 14px;
        @media (max-width: 1000px) {
            font-size: 10px;
            text-align: center;
        }
    }
}
.social-icons {
    @media (max-width: 1000px) {
        padding: 10px 15px 20px;
        text-align: center;
    }
    a + a {
        margin-left: 5px;
    }
}
