.header {
    background-color: $color_black;
    background-image: url(/assets/images/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 775px;
}
.block-nav {
    background: rgba(0,0,0, 0.33);
    color: $color_white;
    @media (max-width: 1000px) {
        .flex {
            text-align: right;
        }
    }
    .logo {
        display: block;
        background-image: url(/assets/images/logo.png);
        background-size: cover;
        background-position: center center;
        width: 215px;
        height: 29px;
        @media (max-width: 1000px) {
            display: inline-block;
            width: 160px;
            height: 21px;
            margin: 12px;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        @media (max-width: 1000px) {
            display: none;
        }
        li {
            display: inline-block;
            padding: 35px 25px;
            a {
                color: $color_white;
                text-decoration: none;
                font-size: 20px;
                font-weight: 100;
            }
        }
    }
}

.block-video {
    &__desc {
        width: 500px;
        height: 682px;
        position: relative;
        float: right;
        box-sizing: border-box;
        padding: 60px;
        display: flex;
        flex-direction: column;
        color: $color_white;
        justify-content: center;
        &-title {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 100;
            margin-bottom: 30px;
            strong {
                display: block;
                font-weight: bold;
                position: relative;
                z-index: 2;
            }
            .red-line-1 {
                height: 15px;
                width: 232px;
                background: $color_red;
                position: absolute;
                z-index: 1;
                margin-top: -45px;
            }
            .red-line-2 {
                height: 15px;
                width: 333px;
                background: $color_red;
                position: absolute;
                z-index: 1;
                margin-top: -45px;
            }
        }
        &-sub-title {
            font-weight: 100;
            margin-bottom: 30px;
            font-size: 20px;
            opacity: .8;
        }
        &-logos {
            max-width: 100%;
            margin-bottom: 50px;
        }
        .button {
            background: $color_red;
            padding: 15px 25px;
            color: $color_white;
            font-size: 20px;
            text-decoration: none;
            width: 210px;
            text-align: center;
            box-sizing: border-box;
            font-weight: 100;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__form {
        width: 500px;
        height: 682px;
        position: relative;
        float: right;
        box-sizing: border-box;
        padding: 60px;
        display: none;
        flex-direction: column;
        color: $color_white;
        justify-content: center;
        background: rgba(0,0,0,0.6);
        &-title {
            font-size: 35px;
            color: rgba(255,255,255,0.6);
            margin-bottom: 40px;
            text-align: center;
        }
        &-desc {
            font-size: 18px;
            color: $color_white;
            opacity: .6;
            font-weight: 100;
            margin-bottom: 40px;
        }
        input {
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.6);
            background: transparent;
            padding: 5px 10px;
            display: block;
            color: $color_red;
            font-family: $font_main;
            font-weight: 100;
            font-size: 20px;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 35px;
            &:focus {
                border-bottom: 1px solid $color_red;
            }
        }
        button {
            background: $color_red;
            width: 200px;
            padding: 15px 0;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            color: $color_white;
            text-align: center;
            border: none;
            display: block;
            cursor: pointer;
            font-size: 20px;
            font-weight: 100;
            font-family: $font_main;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
    }
}
