
.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media (max-width: 1000px) {
        display: block;
    }
}

.flex-align-mid {
    align-items: center;
    align-content: center;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-vertical-strech {
    flex-direction: column;
    justify-content: space-around;
}

.flex-vertical-bottom {
    align-items: flex-end;
}
