// Основная ширина контента
$content_width: 1540px;
// Цвета
$color_black: #171616;
$color_white: #fff;
$color_gray: #1e1d1d;
$color_red: #730a11;
$color_red2: #e30918;
$color_blue: #6d92a6;
$color_blue2: #38a4de;

$color_transp: transparent;
// Тени
$color_shadow: rgba(0, 0, 0, 0.4);
$shadow: 0 1px 3px rgba(0, 0, 0, .2);
// Hover
$color_hover: rgba(255, 255, 255, 0.2);

$font_main: 'Proxima Nova', sans-serif;

$radius: 10px;

// Классы
*:focus {
    outline: none !important;
}

body {
    font-family: $font_main;
    color: $color_black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blocks {
    width: 100%;
    overflow: visible;
    .title {
        font-size: 40px;
        font-weight: bold;
        line-height: 34px;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        @media (max-width: 1000px) {
            font-size: 30px;
            line-height: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .sub-title {
        font-size: 20px;
        line-height: 25px;
        font-weight: 100;
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        opacity: .8;
        box-sizing: border-box;
        @media (max-width: 1000px) {
            font-size: 16px;
            line-height: 20px;
            padding-left: 20px !important;
            padding-right: 20px !important;
            font-weight: normal;
        }
    }
}

.wrap {
    width: $content_width;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1910px) {
        width: 95%;
    }
    @media (max-width: 1000px) {
        width: 304px;
        margin-left: auto;
        margin-right: auto;
    }
}

.col-2 {
    width: 50%;
    box-sizing: border-box;
}

.col-3 {
    width: 33.3%;
    box-sizing: border-box;
}

.col-4 {
    width: 25%;
    box-sizing: border-box;
}

a {
    transition: 0.4s;
    &:hover {
        opacity: .6;
    }
}

.animate_scroll {

}

.mobile_hide {
    @media (max-width: 1000px) {
        display: none !important;
    }
}
.mobile_show {
    display: none;
    @media (max-width: 1000px) {
        display: block;
    }
}
