// Основная ширина контента
$content_width: 1540px;
// Цвета
$color_black: #171616;
$color_white: #fff;
$color_gary: #1e1d1d;
$color_red: #730a11;
$color_blue: #6d92a6;
$color_blue2: #38a4de;

$color_transp: transparent;
// Тени
$color_shadow: rgba(0, 0, 0, 0.4);
$shadow: 0 1px 3px rgba(0, 0, 0, .2);
// Hover
$color_hover: rgba(255, 255, 255, 0.2);

$font_main: 'Proxima Nova', sans-serif;

$radius: 10px;

// Классы
*:focus {
    outline: none !important;
}

body {
    font-family: $font_main;
    color: $color_black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blocks {
    width: 100%;
    overflow: visible;
}

.wrap {
    width: $content_width;
    margin: 0 auto;
    position: relative;
}

.col-2 {
    width: 50%;
    box-sizing: border-box;
}

.col-3 {
    width: 33.3%;
    box-sizing: border-box;
}

.col-4 {
    width: 25%;
    box-sizing: border-box;
}
