<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Упаковка франшиз</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<header class="header">
    <nav>
        <div class="blocks block-nav">
            <div class="wrap">
                <div class="flex flex-align-mid">
                    <a href="/" class="logo"></a>
                    <ul>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">Упаковка франшиз</a></li>
                        <li><a href="#">Продажа франшиз</a></li>
                        <li><a href="#">Условия и цены</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="blocks block-video">
        <div class="wrap">

        </div>
    </div>
</header>


<div class="blocks block-wedo">
    <div class="wrap">
            <div class="title text-center">Мы сделали то,<br>о чем другие рассказывают</div>
            <div class="sub-title text-center">Хайповый бизнес – единственный проект по упаковке и продаже франшиз, который масштабирует бизнес на собственном опыте.</div>
    </div>
</div>

<div class="blocks block-bizprocess">
    <div class="wrap">
        <div class="block-bizprocess__name-item">Бизнес<br>процесс</div>
        <div class="block-bizprocess__text-item">В команде Mossebo и Хайпового бизнеса работает более 250 человек. Каждый из них точно знает, что от него нужно и как работать по точно описанному бизнес-процессу. Ваша франшиза будет работать также слаженно и прозрачно.</div>
    </div>
    <img src="/assets/images/yuri.png" alt="" class="full-width-img">
</div>

<div class="blocks block-sellfranchise">
    <div class="wrap">
        <div class="block-sellfranchise__name-item">Продажа<br>франшиз</div>
        <div class="block-sellfranchise__text-item">Никто не умеет продавать франшизы. Для успешного роста нужно понимать мотивации и возможности предпринимателей и инвесторов, создавать собственную технологию продажи для каждого бизнеса.</div>
    </div>
    <img src="/assets/images/vlad.png" alt="" class="full-width-img">
</div>

<div class="blocks block-digitalmark">
    <div class="wrap">
        <div class="block-digitalmark__name-item">Digital<br>маркетинг</div>
        <div class="block-digitalmark__text-item">Бизнес не может работать без потока входящих обращений от клиентов. Работая над вашей франшизой мы найдем и создадим точки лидогенерации и массово привлечем с них клиентов.</div>
    </div>
    <img src="/assets/images/mark.png" alt="" class="full-width-img">
</div>


<div class="blocks block-wecan">
    <div class="flex">
        <div class="col-3">
            <div class="block-wecan-text">

            </div>
            <div class="block-wecan-photo block-wecan-photo-1">

            </div>
        </div>
        <div class="col-3 block-wecan-middle">
            <div class="block-wecan-text">

            </div>
            <div class="block-wecan-photo block-wecan-photo-2">

            </div>
        </div>
        <div class="col-3">
            <div class="block-wecan-text">

            </div>
            <div class="block-wecan-photo block-wecan-photo-3">

            </div>
        </div>
    </div>
</div>



<div class="blocks block-about">
    <div class="wrap">
        <div class="flex flex-align-mid">
            <div class="col-2">
                <div class="title">Хайповый бизнес</div>
                <div class="sub-title">Лучшее, что может произойти с вашей франшизой - появление в самом известном видео-блоге от лидеров франчайзинга. Благодаря этому сотни тысяч людей узнают о продукте лично. В первый день существования вашей франшизы.</div>
            </div>
            <div class="col-2">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/KeiH3loVx7w?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>



<div class="blocks block-media">
    <div class="wrap">
        <div class="flex flex-align-mid">
            <div class="col-2">
                <div class="title">Медийность</div>
                <div class="sub-title">Используя сеть наших знакомств, друзей и партнеров мы приобрели уникальные навыки развития франшиз. Используя ее же, ваша франшиза получить большую известность.</div>
            </div>
            <div class="col-2">
                <div class="flex flex-align-mid">
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/1.png"
                             alt="РБК">
                    </div>
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/2.png"
                             alt="Forbes">
                    </div>
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/3.png"
                             alt="Капиталист">
                    </div>
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/4.png"
                             alt="ТНТ">
                    </div>
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/7.png"
                             alt="Аргументы и факты">
                    </div>
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/8.png"
                             alt="MyHome">
                    </div>
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/9.png"
                             alt="NOVATE">
                    </div>
                    <div class="col-4">
                        <img src="//mossebo.studio/wp-content/uploads/page__franchising/icons/brands/10.png"
                             alt="houzz">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<script async src="/assets/js/app.js"></script>
</body>
</html>
