<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Упаковка франшиз</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<header class="header">
    <nav>
        <div class="blocks block-nav">
            <div class="wrap">
                <div class="flex flex-align-mid">
                    <a href="/" class="logo"></a>
                    <ul>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">Упаковка франшиз</a></li>
                        <li><a href="#">Продажа франшиз</a></li>
                        <li><a href="#">Условия и цены</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="blocks block-video">
        <div class="wrap">

        </div>
    </div>
</header>


<div class="blocks block-wedo">
    <div class="wrap">
            <div class="title text-center"></div>
            <div class="sub-title text-center"></div>
    </div>
</div>

<div class="blocks block-bizprocess">
    <img src="/assets/images/yuri.png" alt="" class="full-width-img">
    <div class="wrap">
    </div>
</div>

<div class="blocks block-sellfranchise">
    <img src="/assets/images/vlad.png" alt="" class="full-width-img">
    <div class="wrap">
    </div>
</div>

<div class="blocks block-digitalmark">
    <img src="/assets/images/mark.png" alt="" class="full-width-img">
    <div class="wrap">
    </div>
</div>






<script async src="/assets/js/app.js"></script>
</body>
</html>
